body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 20px 0;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.person-info:hover {
  padding: 30px;
  border: 2px solid pink;
}

.firstNameLastName {
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.jobTitle {
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.emailAddress {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
